<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gopher.Core.Data.SSJson.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Gopher.Core.Data.SSJson.Properties.Settings>
            <setting name="FileRepositoryPath" serializeAs="String">
                <value>FileRepository.json</value>
            </setting>
            <setting name="FolderRepositoryPath" serializeAs="String">
                <value>FolderRepository.json</value>
            </setting>
            <setting name="FolderToScanRepositoryPath" serializeAs="String">
                <value>FolderToScanRepository.json</value>
            </setting>
        </Gopher.Core.Data.SSJson.Properties.Settings>
    </userSettings>
</configuration>